
.container{
  display: flex;

}
.wrapperTopMenuActive{
  position: fixed;
  top: 0;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 15;
  background: black;
  transition: all .3s;
}
.wrapperTopMenu{
  position: fixed;
  top: 0;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 15;
  background: transparent;
  transition: all .3s;
}
.lineLoader{
  height: 2px;
  position: absolute;
  background: #f0f07d;
  top: 0;
  left: 0;
  right: 0;
}
